<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="database" 
			 connectionString="Server=tcp:p2gruppe.database.windows.net,1433;Initial Catalog=flightbooking;Persist Security Info=False;User ID=p2gruppe;Password=admin123!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
			 providerName ="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>